[submodule "Wiki"]
	path = Wiki
	url = https://github.com/ZJU-HelloWorld/Wiki.git
	branch = main
[submodule "devices/referee"]
	path = devices/referee
	url = https://github.com/ZJU-HelloWorld/HW-Components-Referee.git
[submodule "Third_Party/Dsp/CMSIS-DSP"]
	path = Third_Party/Dsp/CMSIS-DSP
	url = https://github.com/ZJU-HelloWorld/CMSIS-DSP.git
